*{
    padding: 0;
    margin: 0;
    text-align: center;
   
    background-color: rgb(246, 241, 241);
}

.title{
    margin-bottom: 0px;
    font-size: 100px;
    font-weight: bold;
}
.description{
    margin: 1em 0 2em 0;

}
ul li {
    display: inline;
    text-decoration: none;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
color: rgb(79, 99, 99);


}
 
ul{
    margin-bottom: 2em;
}
h1 {
    border: 1px dotted rgb(170, 170, 216);
    border-radius: 5px;
}
p{
    margin: 2em;
}
a{
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    color: rgb(76, 84, 84);
}
a:hover {
    background-color: rgb(191, 151, 227);
}
h2{
     
    border: 1px dotted rgb(170, 170, 216); 
}
h3{
    border: 1px dotted rgb(170, 170, 216);  
}
.prag-side {

  
    padding: 2rem;
    background-color: rgb(187, 197, 197);
   
    text-align: center;
    border-radius: 3rem;
}